*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{ 
     background-image: url('http://www.baltana.com/files/wallpapers-5/Orange-Background-Best-Wallpaper-16456.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
header{
    width: 100%;
    max-width: 800px;
    text-align: center
}
header h1{
    color: black;
}
header form .search-container{
    margin-top: 20px;
    position: relative;
}
header form .search-container input{
    width: 100%;
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 20px;
    border: none;
    background: #eee;
}
header form .search-container .material-icons{
    position: absolute;
    right: 10px;
    bottom: 12px;
    color: #777;
    cursor: pointer;
}
header form .search-container .search-icon-btn{
    position: absolute;
  right: 10px;
  bottom: 8px;
  background: none;
  border: none;
  cursor: pointer;
  color: #777;
  align-items: center;
}
.image-container{
    margin-block: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.image-container img{
    width: 300px;
    height: 280px;

}
.image-container .imageDiv{
    position: relative;
}
.imageDiv .overlay{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: height 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    margin-top: 20px;
}
.imageDiv:hover .overlay{
    height: 100%;
}
.imageDiv .overlay h3{
    color: white;
    display: none;
    text-align: center;
    font-size: 20px;
}
.imageDiv:hover .overlay h3{
    display: block;
}
/* Adding style to load more button */
.loadMoreBtn{
    border: none;
    background-color: hwb(177 13% 30%);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

main section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 50px 0;
}
/*responsive code*/
@media screen and(max-width:920px){
    header{
        width:80%
    }
}
